body {
    background-image: url(https://miro.medium.com/v2/resize:fit:7680/1*SBvVTdxWZBD-hJLYjj0PwA.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    flex-grow: 1;
    margin-left: 0%;
    position: center;
    width: auto;
}

.hello {
    position: center;
    height: auto;
    width: 250px;
}

header {
    background-color: #ffa902;
    color: white;
    text-align: center;
    padding: 5px;

}

nav {
    background-color: #0E3FA8;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    font-size: 25px;
    color: #FFA902;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav a:hover {
    background-color: #FFA902;
}

nav li {
    display: inline-block;
    margin-right: 15px;
}

.search-container {
    text-align: center;
    margin-top: 50px;
}

#search-bar {
    padding: 10px;
    width: 300px;
}

#search-button {
    padding: 10px;
    background-color: #FFA902;
    color: white;
}

main {
    text-align: center;
}


#card-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 10px;
    width: 300px;
    flex-basis: 150px;
    flex-grow: 1;
}

.card img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.card-info {
    padding: 10px;
}

.card-info h2 {
    margin-top: 0;
}

.card-info p {
    margin-bottom: 0;
}



.result-box,
#history-container {
    background-color: white;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
}

.box {
    text-align: center;
}

#search-history-list {
    padding: 10px;
    text-align: center;
}

.search-history-button {
    background-color: #FFA902;
    color: white;
    padding: 5px 10px;
}

h3 {
    text-decoration: underline;
    text-align: center;
    font-weight: bolder;
    color: #1756dd;
}